

/*---------------------------------------------------------------------------------
  NAME: PROJECT.CSS
  PURPOSE: THIS SETS STYLES FOR ALL PROJECTS

  0. CSS Reset & Normalize
  1. Typography & Lists
  2. Custom Styles

----------------------------------------------------------------------------------- */

/*=========================================
0. CSS Reset & Normalize
=========================================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, bbbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { border: 0; font-size: 100%; font: inherit; vertical-align: baseline; margin: 0; padding: 0 } 

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { 
display: block;
} 
body {
  line-height: 1;
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

embed,
iframe,
object {
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

ul {
  list-style: square;
  text-indent: inherit;
}

ol {
  list-style: decimal;
}

b,
strong {
  font-weight: 600;
}

a {
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

sup,
sub {
  font-size: 0.75em;
  line-height: 2.2em;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  bottom: 1ex;
}

sub {
  top: 0.5ex;
}

small {
  font-size: 0.75em;
  line-height: 1.72;
}

big {
  font-size: 1.25em;
}

hr {
  border: none;
  clear: both;
  display: block;
  height: 1px;
  width: 100%;
  text-align: center;
  margin: 3.2rem auto;
}
h2 + hr, h3 + hr {margin-bottom: 4.8rem;
}
p + hr {margin-bottom: 4rem;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

bbbr,
acronym {
  cursor: help;
}

mark,
ins {
  text-decoration: none;
  padding: 0 4px;
  text-shadow: none;
  
}

::-moz-selection {
  text-shadow: none;
}

::-webkit-selection {
  text-shadow: none;
}

::selection {
  text-shadow: none;
}

img {
  /* Make sure images are scaled correctly. */
  border: 0;
  height: auto;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  position: relative;
  margin: 0;
  line-height: 0;
}

optgroup {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 24px;
}

td,
th {
  padding: 0;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

dt {
  font-weight: bold;
}

dd {
  margin: 0;
}


/*=== Clearing === */
.clear:before, .clear:after, header:before, header:after, main:before, main:after, .wrap:before, .wrap:after, group:before, group:after, section:before, section:after, aside:before, aside:after,footer:before, footer:after{ content: ""; display: table; } 
.clear:after, header:after, main:after, .wrap:after, group:after, section:after, aside:after, footer:after { clear: both; }


/*============================
2. TYPOGRAPHY & LISTS
============================== */

html,
body {
  line-height: 1;
  /*Sometimes fonts don't display optimally on all devices*/
  /*-moz-osx-font-smoothing: grayscale;*/
  /*-webkit-font-smoothing: antialiased;*/
  text-rendering: optimizeLegibility;
  font-weight: 300;
}

@font-face {
    font-family: Theinhardt;
    src: url(../assets/theinhardt_medium.otf) format('opentype');
}

html,
body,
input,
select,
textarea {
  font-family: "Theinhardt","Roboto", "San Francisco", helvetica, arial, sans-serif;
  font-size: 62.5%;
}

body,
textarea {
  font-size: 1.8rem;
}

p,
li,
time,
table,
big,
textarea,
label {
  line-height: 3.2rem;
  margin-bottom: 3.2rem;
}

li,p:last-child {
  margin-bottom: 0;
}


ul>li,ol>li {margin-left: 3.2rem;}
li li {
  font-size: 100%;
}

/*== List .description (Product/Specs) === */

ul.description {
  padding: 0;
}

.description + p{
margin-top: 3.2rem;
}

.description li {
  position: relative;
  padding-top:.8rem;
  padding-bottom: .8rem;
  -webkit-transition: .3s;
  transition: .3s;
}
.description li:hover{
padding-left: .4rem;
}
ul.description li,.column ul li {list-style: none;margin-left: 0;}

.column ol>li {margin-left: 1.6rem;
}

h1 svg,
h2 svg, h3 svg, h4 svg {
  margin-top: -.8rem;
}
.text-intro svg,.wall p svg,.try svg {
margin-top: -.4rem;
}
.flexblock li h2 svg,.flexblock li h3 svg {margin-top: 0;
}

h1 {
  font-size: 4rem;
  line-height: 5.6rem;
}

h1 span {
  font-style: italic;
}

h2 {
  font-size: 3.2rem;
  line-height: 4.8rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 4rem;
}

h4 {
  font-size: 2.2rem;
  line-height: 4rem;
}

h5 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3.2rem;
}

h6 {
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 600;
}
h2.alignleft + p.alignright {margin-top: 1.2rem;margin-bottom: 0;}
h3.alignleft + p.alignright {margin-top: .4rem;margin-bottom: 0;}

@media (min-width: 768px) {
  h1 {
    font-size: 5.6rem;
    line-height: 7.2rem;
  }
  h2 {
    font-size: 4.8rem;
    line-height: 6.4rem;
  }
  h3 {
    font-size: 4rem;
    line-height: 5.6rem;
  }
  h4 {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }
}

h1+h1,h1+h2,h1+h3,h1+h4,h1+h5,h1+h6,
h2+h1,h2+h2,h2+h3,h2+h4,h2+h5,h2+h6,
h3+h1,h3+h2,h3+h3,h3+h4,h3+h5,h3+h6,
h4+h1,h4+h2,h4+h3,h4+h4,h4+h5,h4+h6,
h5+h1,h5+h2,h5+h3,h5+h4,h5+h5,h5+h6,
h6+h1,h6+h2,h6+h3,h6+h4,h6+h5,h6+h6 {
  margin-top: .8rem;
}

h1+img,h2+img,h3+img {
  margin-top: 4.8rem;
  margin-bottom: 4.8rem;
}
[class*="content-"] > [class*="content-"] h2,
[class*="content-"] > [class*="content-"] h3,
[class*="content-"] > [class*="content-"] h4 {
font-size: 2.4rem;
line-height: 4rem;
}

/*=========================================
3. CUSTOM STYLES
=========================================== */

/*=================================
STYLES PILFERED FROM THE ORIGINAL BASE.CSS HAHAHAHAHA
*/

.content-center {
  margin: 0 auto;
  text-align: center;
}

.embed {
  position: relative;
  height: 0;
  overflow: hidden;
  /*aspect ratio:16:9*/
  padding-bottom: 58%;
  /*aspect ratio: 4:3*/
  /*padding-bottom: 75%;*/
}

.embed iframe,
.embed object,
.embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

/*
FULL HEIGHT SLIDES
*/

.full-height-card {
      /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title-card {
  color: white;
}

.practice {
  font-family: Practice;
}

#x-out {
  /*width: 1510px; <- WHY DID I HAVE THIS BEFORE? */
  position: fixed;

  top: 20px;
  z-index: auto;
  margin-left: 90%;
  margin-top: 0px;
  cursor: pointer;
}


#x-placeholder {
  height: 80px;
}

.down_arrow { /*CHANGE TO AN ID! */
  height: 90px;
  position: fixed; 
  bottom: 120px;
  left: 46.9%
}

#about-down_arrow {
  height: 90px;
  position: fixed; 
  bottom: 50px; 
  left: 46.9%
}

.wp_hr {
  border: none;
  margin-left: 0px;
  width: 200px;
  height: 1px;
  background-color: #FF9F36;
}

.wp_hr_mobile {
  border: none;
  margin-left: 10px;
  width: 100px;
  height: 1px;
  background-color: #FF9F36;
}

.wp_orange_text {
  color: #FF9F36;  
}

.title-text {
  font-size: 13.3rem;
  letter-spacing: 0.33rem;
  line-height: 14rem;
}

.sub-title-text {
  font-size: 3.33rem;
  letter-spacing: 0.33rem;
  line-height: 4rem;
}

.slide-tagline {
  font-size: 6rem;
  letter-spacing: 0.33rem;
  line-height: 6.67rem;
}

/* SUBLINE TEXT BAND FOR PROJECTS */

#subline-section {
  height: 50px; 
  width: 100vw; 
  background-color: white;
  position: fixed; 
  bottom: 0;
}

.subline-title {
  padding-top: 5px;
  font-size: 3.33rem;
  letter-spacing: 0.33rem;
  line-height: 4rem;
}

.subline-text {
  font-size: 2rem;
  letter-spacing: 0.33rem;
  line-height: 3.33rem;
}

/* SUBLINE TEXT BAND FOR ABOUT PAGE */

#about-subline {
  background-color: white; 
  height: 32px; 
  margin-left: 20px;
}

#about-subline-main {
  font-size: 22px; 
  letter-spacing: 0.22rem;
}

span.about-subline-caption {
  font-size: 18px;
  letter-spacing: 0.18rem;
}
span.about-subline-caption a {
color: #FF9F36;
}

/* TEXT POSITIONING */

.vert-center-text-container {
  display: flex;
  flex-direction: column;
}

.all-center-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#mobile-project {
  display: none;
  height: 100vh; 
  background-color: white;
}

#mobile-project h1 {
 color: #0D0D0D;
}

#mobile-project h3 {
 color: #0D0D0D;
}

#mobile-project p {
 color: #0D0D0D;
}

#mobile-x-out {
  position: absolute; 
  top:10px;
  right: -40%;
  height: 50px;
  width: 50px;
}

#mobile-artist-name {
  margin-top: -30px;
  color: white;  
  font-size: 45px;
  margin-left: 10px;
}

#mobile-project-name {
  color: white; 
  margin-top: -15px; 
  font-size:30px;
  margin-left: 10px;
}

#mobile-project-description {
  color: white; 
  margin-top: -15px;
  margin-left: 10px;
  font-family: Practice;

}

#mobile-project img {
  margin-bottom: -4px;
}

#mobile-project h3 {
  line-height: 1em;
}

#mobile-collaborator-headline {
  margin-left: 10px;
}

#mobile-collaborator-names {
  color: white; 
  font-family: Practice; 
  font-size: 18px;
  margin-left: 10px;
}

#mobile-long-text h3 {
  color: black; 
  line-height: 1.35em;
  margin-left: 10px;
  letter-spacing: 0.025em;
}

#mobile-project .mobile-gif {
  width: 100vw;
}

/*
RESPONSIVE STYLES
*/
        
@media only screen and (max-width: 768px) {
  #desktop-project {
    display: none;
  }

  #mobile-project {
    display: block;
  }
}