html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}

textarea {
	size: 20px 50%;
	display: inline-block;
    margin-top: 0;
	background-color: white;
	border: solid 2px #5600D8;
	border-radius: 5px;
	resize: none;
	outline: none;
	font-family: monospace;
}

p {
	text-align: center;
	font-family: monospace;
	color: #5600D8;
	margin: 0 20% 20px 20%;
}

#textIn {
	margin-left: 5%;
    margin-right: auto;
}

#regexIn {
	margin-left: 20%;
    margin-right: auto;
}

h1 {
	text-align: center;
	font-family: monospace;
	color: #5600D8;
}