html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
}

#textIn {
	size: 20px 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
	background-color: white;
	border: solid 2px navy;
	border-radius: 5px;
	resize: none;
	outline: none;
	font-family: monospace;
}

h1 {
	text-align: center;
	font-family: monospace;
	color: navy;
}